@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Figtree", sans-serif;
  font-weight: 500, 800;
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(47, 88%, 63%);
  height: 100vh;
  padding: 0 2rem;
  /* position: relative; */
}

.content {
  background-color: #fff;
  border-radius: 5%;
  width: min(100%, 375px);
  /* margin: 0 auto; */
  padding: 1rem;
  border: 2px solid #000;
  /* box-shadow: 10px 10px #000; */
  /* Box shadow above adds shadow to the right side */

  /* position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); */
}
.content:hover {
  box-shadow: 0 9px 9px #000;
}
.card-image img {
  border-radius: 5%;
}
.content_text {
  margin-top: 1.5rem;
}
.content_text__h3 {
  background-color: hsl(47, 88%, 63%);
  border-radius: 5%;
  display: inline;
  padding: 5px 20px !important;
  font-size: min(1.2rem, 3.5vw);
  line-height: 4.5%;
}

.content_text__h1 {
  font-size: medium;
  font-weight: bold;
}
.content_text__h1:hover {
  color: hsl(47, 88%, 63%);
  cursor: pointer;
}
.space {
  padding: 1rem 0;
}
figure {
  display: flex;
  align-items: center;
}
/* figure img {
  margin-right: 20px;
} */
.figure__h3 {
  margin-left: 10px;
}
@media screen and (min-width: 1440px) {
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(96, 82%, 57%);
    padding: 0 2rem;
    height: 100vh;
    /* position: relative; */
  }
}
